<% include header %>
       
        <div>
              <a href = "/tweets" class="waves-effect waves-light btn">Twitter</a>
              <a href = "/articles" class="waves-effect waves-light btn">New York Times</a>
        </div>

<% include footer %>