<% include header %>

      

      
      <% include getTweetsForm %>
      
      <div>
         <div class="row">
                <div class="col s6 offset-s3">
                  <h5>Tweets</h5>        
                </div>
                <div class="col sm2">
                  <h5>Sentiment Score</h5>        
                </div>
        </div>
        <% 
        var length = tweetList.length;
        for(index = 0; index < length; index++){
            %>
            <div class="row center-align" >
                  <div class="col s6 offset-s3">
                    <div class="card-panel light-blue lighten-1">
                      <span class="white-text">
                          <%= tweetList[index]%>
                      </span>
                    </div>
                  </div>
                

                  <div class="col sm2">
                    <div class="card-panel light-blue lighten-1">
                      <span class="white-text">
                          <%= sentimentScores[index]%>
                      </span>
                    </div>
                  </div>
            </div>

        <% } %>
    </div>
<% include footer %>